<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.report.reportingsystem">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".change_password_page"></activity>
        <activity android:name=".change_username_page" />
        <activity
            android:name=".full_task_page"
            android:noHistory="true" />
        <activity android:name=".solved_issue_page" />
        <activity
            android:name=".task_page"
            android:noHistory="true" />
        <activity android:name=".settings_page" />
        <activity android:name=".under_review_page" />
        <activity android:name=".employeehomepage" />
        <activity android:name=".adminhomepage" />
        <activity android:name=".memberPage" />
        <activity android:name=".member_signup" />
        <activity
            android:name=".fullreportpage"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".all_reports_page"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".report_submission_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>