<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.report.reportingsystem">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChangePasswordPage"></activity>
        <activity android:name=".change_username_page" />
        <activity
            android:name=".FullTaskPage"
            android:noHistory="true" />
        <activity android:name=".SolvedIssuePage" />
        <activity
            android:name=".TaskPage"
            android:noHistory="true" />
        <activity android:name=".SettingsPage" />
        <activity android:name=".UnderReviewPage" />
        <activity android:name=".EmployeeHomePage" />
        <activity android:name=".AdminHomePage" />
        <activity android:name=".MemberPage" />
        <activity android:name=".MemberSignup" />
        <activity
            android:name=".fullreportpage"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllReportsPage"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportSubmissionPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>